.client-service-page {
  //background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAARElEQVQYV4XQSQoAMAgDQL36/6/qNcVCSxeXnIcEwgBATcyMuIOORKSGC/lg2niiFL4ohBH6YIYuWKENOzShqsJ/6jIAMydCxWmnMl8AAAAASUVORK5CYII=) repeat;
  padding-bottom: 30px;
}

.client-service-text {
  margin-bottom: 30px;

  h3 {
    font-size: 2.14em;
  }

  p {
    font-size: 1.71em;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.client-service-offer-block {
  position: relative;
  margin-bottom: 30px;
  background-color: #fff;
  @include box-shadow(0 0 5px 2px #f5f5f5);
  @include border-radius;
  padding: 35px;
  min-height: 360px;
  @include transition(all, .3s);

  &:hover {
    @include box-shadow(0 0 5px 5px #f5f5f5);

    button {
      opacity: 1;
    }
  }

  i {
    display: inline-block;
    //vertical-align: top;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 36px;
    @include border-radius;
    font-size: 1.42em;
    color: #ffffff;
    background-color: $main-brand-color;

    &:hover {
      @include box-shadow(0 0 2px 2px #eee);
    }
  }

  h4 {
    display: inline-block;
    //vertical-align: middle;
    margin-left: 16px;
    margin-bottom: 20px;
    font-size: 1.71em;
    font-weight: bold;
  }
  .description {
    font-size: 1.14em;
  }

  button {
    opacity: 0.8;
    display: block;
    width: 80%;
    position: absolute;
    bottom: 25px;
    margin: 0 auto;
    left: 0;
    right: 0;

    &:hover {
      @include box-shadow(0 0 2px 2px #eee);
    }
  }
}

.become-a-member {
  margin-bottom: 40px;
  margin-left: 10px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .client-service-offer-block {
    min-height: 420px;
  }
}

.maximum-profit-callback {
  display: inline-block;
  background-color: $red;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 90px;
  position: relative;

  &:before {
    @include after(absolute, block);
    background-color: $main-brand-color;
    width: 10px;
    height: 100%;
    left: 0;
    top: 0;
  }
}