.price-page {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAPklEQVQYV43MuQ0AIAwEQRxf/6VeDDISiMffxqOVVohkl8wpAiAhXEhnLjyRC19kQgt90EMXjNCGGZqwghQO3gwn6Wmup20AAAAASUVORK5CYII=) repeat;
  padding-bottom: 20px;
  box-shadow: 0 0px 4px 0px #888;

  .car-item-block {
    margin-bottom: 20px;
  }
}

.car-item-block {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(#ffffff, .5);
  @include transition(all, .2s);

  &:hover {
    @include box-shadow(0 0 5px 2px #eee);
    background-color: rgba(#ffffff, .8);

    .img-block {

      .img {
        height: 160px;
      }

      span {
        background-color: darken($red, 7%);
      }
    }

    .text-block {

      span {
        color: darken($light-grey, 20%);
      }
    }
  }

  .img-block {
    height: 150px;
    margin-bottom: 39px;
    position: relative;

    .img {
      position: absolute;
      width: 80%;
      margin: 0 auto;
      left: 0;
      right: 0;
      height: 150px;
      background-image: url("../img/niva.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      @include transition(all, 0.2s);

    }

    span {
      position: absolute;
      background-color: lighten($red, 15%);
      color: #fff;
      font-size: 0.92em;
      padding: 2px 10px;
      top: -17px;
      right: 12%;
      @include border-radius;
      @include transition(all, 0.2s);
    }
  }

  .text-block {
    padding: 0 40px;
    text-align: center;

    h4 {
      font-size: 1.85em;
      font-weight: bold;
      color: #333333;
    }

    span {
      color: $light-grey;
      font-size: 1.21em;
      text-align: center;
      @include transition(all, .2s);
    }
  }

  .button-block {
    padding: 0 40px;

    .btn {
      display: block;
      margin: 20px auto;
      width: 80%;
    }
  }
}















