.slider-page {
  padding: 0;
  padding-top: 90px;
  box-shadow: 0 0px 8px 0px #888;
}

#bxslider {
  padding: 0;
  list-style: none;
}

.bx-viewport {
  background-image: url('../img/bg/slide-1.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.video {
  min-height: 800px;
  text-align: center;
  position: relative;
  background-color: rgba(0,0,0,.5);

  h2,
  span {
    color: #fff;
    text-shadow: 0 0 6px #333;
  }

  h2 {
    font-size: 50px;
  }

  span {
    font-size: 25px;
  }

  iframe {
    height: 400px;
    width: 800px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 200px;
  }
}

.slide-1 {

  .form {
    position: absolute;
    right: 0;
    top: 85px;
    box-shadow: 0 0px 7px -1px #333;

    button {
      padding: 10px;
    }
  }

  .container {
    position: relative;
  }

  .bg {
    min-height: 800px;
  }
}

.slide-1-text {
  color: #fff;
  & > h1, span {
    position: absolute;
    text-shadow: 0 0 6px #333;
  }

  h1 {
    top: 80px;
    left: 25px;
    font-size: 45px;

    .redline {
      position: relative;
    }
  }

  .sale {
    top: 175px;
    font-size: 30px;
  }

  .price {
    top: 222px;
    font-size: 90px;
  }

  .rub {
    top: 272px;
    transform: rotate(-90deg);
    left: 272px;
    font-size: 19px;
  }

  .profit {
    top: 198px;
    left: 333px;
    font-size: 111px;
  }

  .special {
    top: 360px;
    font-size: 30px;
  }
}

@media (max-width: 1200px) {

  .slider-page {
    padding-top: 0;
  }

  .slide-1-text {
    text-align: center;
    h1, span {
      position: static;
      font-size: 30px;
      display: block;
    }

    h1 {
      display: block;
      font-size: 45px;
      margin-bottom: 30px;

      .redline {
        display: inline;
        font-size: 45px;
      }
    }

    .sale {
    }

    .price {
      display: inline;
      font-size: 50px;
    }

    .rub {
      display: inline;
      transform: rotate(0);
      font-size: 45px;
    }

    .profit {
      display: inline;
      font-size: 45px;
    }

    .special {
    }
  }

  .slide-1 {
    margin-top: 0;

    .form {
      position: static;
      width: 80%;
      margin: 30px auto;
    }

    .bg {
      padding-top: 30px;
      min-height: 1000px;
    }
  }

  .video {
    min-height: auto;

    iframe {
      height: 400px;
    }
  }


}














