@import 'style/_var';
@import 'style/_mixin';
@import 'style/_btn';
@import 'style/_bootstrap-change';

@import 'font-awesome/_font-awesome';

@import 'slider/_jquery.bxslider';

@import 'modal/_remodal';
@import 'modal/_remodal-default-theme';


@import 'block/_header';
@import 'block/_form';
@import 'block/_car-info';
@import 'page/_page';

@import 'page/_slider';
@import 'page/_client-service';
@import 'page/_service';
@import 'page/_price';
@import 'page/_finance';
@import 'page/_banks';
@import 'page/_contacts';