.car-info-block.remodal {
  max-width: 900px;
  background-color: #fff;
  @include box-shadow(0 0 4px 1px #333);
}

.car-info-block {
  padding: 34px;

  h3 {
    margin-bottom: 30px;
  }

  .price {
    margin-bottom: 30px;
    color: darken($light-grey, 20%);
  }

  .img {
    margin-bottom: 25px;

    img {
      width: 100%;
    }
  }

  .button-block {
    .btn {
      font-size: 1em;
      display: block;
      width: 100%;
      margin-bottom: 25px;

      &.red.active {
        background-color: darken($red, 10%);
      }

      &.orange.active {
        background-color: darken($main-brand-color, 10%);
      }
    }
  }

  .car-info {
    position: relative;
    min-width: 300px;
    overflow: hidden;
  }

  .car-page {
    opacity: 0;
    //@include transition(opacity, .3s);
    position: absolute;

    &.active {
      opacity: 1;
      position: static;
    }

    p {
      text-align: left;
      margin: 0%;
    }
  }
}