.redline {
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    left: -8px;
    top: 0;
    height: 100%;
    background-color: $main-brand-color;
  }

  &-bold {
    &:before {
      width: 7px;
      left: -12px;
    }
  }
}